#grid {
  float: left;
  width: 300px;
}

.clear {
  clear: both;
}

.showMap {
  margin-bottom: 10px;
}

button{
  margin-bottom: 5px;
}

.planet {
  background-color: white;  /*#231475*/
  width: 6px;
  height: 6px;
  border: solid 1px #614b45;
  float: left;
}

.space {
  background-color: #614b45;
  width: 6px;
  height: 6px;
  float: left;
}