#map {
  float: left;
  width: 300px;
}

.status-universe-1 {
  background-color: white;  /*#231475*/
  width: 6px;
  height: 6px;
  border: solid 1px #614b45;
  float: left;
}

.status-universe-0 {
  background-color: #614b45;
  width: 6px;
  height: 6px;
  float: left;
}